jdbc.driver=com.mysql.jdbc.Driver
# Docker 部署时 host 为 docker-compose 服务名 "mysql"
# 本地直接运行时改为 localhost 或具体 IP
jdbc.url=jdbc:mysql://mysql:3306/BigDataPlatm?useUnicode=true&characterEncoding=UTF-8
jdbc.username=root
jdbc.password=YOUR_PASSWORD
jdbc.active=20
spark.local=true
